.dashboard-container {
  display: flex;
  gap: 20px;
  padding: 20px;

  .user-profile {
    width: 30vw;
    text-align: center;
    background-color: #0c1b33;
    color: #fff;
    padding: 20px;
    border-radius: 10px;

    .profile-picture {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-color: #0056b3;
      margin: 0 auto 20px;
    }

    // .reservation-requests {

    // }

  }

  .dashboard-panels {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;

    .user-properties,
    .user-reservations {
      background-color: #fff;
      border-radius: 10px;
      padding: 20px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      width: 65vw;

      h3 {
        color: #0c1b33;
        margin-bottom: 10px;
      }

      .cards-container {
        display: flex; /* Alignement horizontal */
        overflow-x: scroll;
        gap: 20px; /* Espace entre les cartes */
        padding-bottom: 1em;

        .card {
          border:none;
          border-radius: 8px;
          padding: 10px;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
          width: 150px;
          flex: 0 0 auto;


          .card-image {
            background-color: lightblue;
            width: 130px;
            height: 130px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-size: 20px;
            border-radius: 5px;
            object-fit: cover;
          }

          h4 {
            margin: 5px 0 5px;
            color: #0c1b33;
            font-size: medium;
          }

          p {
            color: #555;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-overflow:"...";
            font-size: small;
          }
        }
      }
    }

    button {
      margin-top: 10px;
      background: linear-gradient(90deg, #0056b3, #003a80);
      color: white;
      padding: 8px 12px;
      border: none;
      border-radius: 5px;
      transition: background 0.3s;

      &:hover {
        background: linear-gradient(90deg, #003a80, #002652);
      }
    }
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .cards-container .card {
    width: 100%; /* Les cartes s'empilent sur les petits écrans */
  }
}
