<h1>Tous les astres</h1>
<%= link_to "Ajouter un nouvel astre", new_star_path, class: "btn btn-primary" %>


<div class="row">
  <% @stars.each do |star| %>
    <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <h1 class="card-title"><%= star.name %></h1>
            <p class="card-text">
              type: <%= star.type %>
            </p>
              <%= link_to "Plus de détails", star_path, class: "btn btn-primary" %>
          </div>
        </div>
    </div>
  <% end %>
</div>
