<%= render "devise/shared/navbar" %>
<h1>Tous les astres</h1>
<%= link_to "Ajouter un nouvel astre", new_star_path, class: "btn btn-primary" %>


<div class="row">
  <% @stars.each do |star| %>
    <%= render partial: "devise/shared/star_card", locals: { star: star } %>
  <% end %>
</div>


<%= render "devise/shared/footer" %>
