// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "cards";

#custom-button-plus {
  align-items: center;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
